/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}


.navbar {
    padding-left: 6em;
    padding-right: 6em;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #000000;
    color: white;
}

.logo {
    font-size: 1.3em;
    margin: .8em .8em .8em 1.2em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1px;
}

.logo a {
    text-decoration: none;
    color: white;
}


.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: .6em .8em .6em .8em;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    font-weight: 600;
}

.navbar-links li:hover {
    background-color: #333;
    border-radius: 30px;
}

.navbar p {
    text-decoration: none;
    color: white;
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    font-weight: 600;
}

.toggle-button {
    order: 2;
    margin: 1.7em 1.3em 1.6em 1em;
    flex-direction: column;
    justify-content: space-between;
    width: 13px;
    height: 8px;
}

.toggle-button .bar {
    height: 2px;
    width: 100%;
    background-color: white;
}

@media (max-width: 800px) {
    .navbar {
        align-items: flex-start;
        padding-left: 0;
        padding-right: 0;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background-color: white;

    }

    .navbar p {
        display: none;
    }


    .navbar-links ul li a {
        margin: 0;
        padding: .5em .75em;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        font-size: 1.8em;
        font-weight: 600;
        color: black;
        max-width: 90%;
    }

    .navbar-links.active {
        display: flex;
    }

}

#profiel {
    margin: 1.5em 0 1.5em auto;
    display: flex;
    width: 14px;
}

#aanmelden {
    margin: 1em 0 1em 1em;
    padding: .6em .8em .6em .8em;
    background-color: white;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    font-weight: 600;
}

#aanmelden:hover {
    background-color: lightgrey;
}

.slider {
    width: 100%;
    height: 6.5em;
    display: flex;
    overflow-y: hidden;
}

.slider div {
    background-color: white;
    min-width: 6.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}



.slider div button {
    margin: 0;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: .9em;
    font-weight: 600;
    border: none;
    background: none;
    text-align: center;

}

.slider img {
    width: 18px;
    margin: 1em;
}

a button:hover {
    background-color: lightgrey;
}

section {
    margin: 0;
    padding: 1em 0 1em 0;
}

section p {
    width: 90%;
}



h1 {
    color: black;
    margin: 0;
    padding: .75em .75em;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 2.1em;
    font-weight: 600;
}

h2 {
    width: 90%;
    color: #333333;
    margin: 0;
    padding: .75em .75em .65em .9em;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
}



h3 {
    margin: 0;
    padding: 0 0 1em 1.4em;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    max-width: 90%;
}


.meerinfo {
    margin: 1.5em;
    padding-bottom: 4px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1em;
    font-weight: 300;
    max-width: 90%;
    color: black;
    display: table;
    border-bottom: 1px solid lightgray;
}

.meerinfo a {
    text-decoration: none;
}

.meerinfo1 {
    padding-bottom: 4px;
    margin-left: 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1em;
    font-weight: 300;
    max-width: 90%;
    color: black;
    display: table;
    border-bottom: 1px solid lightgray;
}



.partner {
    color: white;
    width: 17em;
    padding: .9em 1.8em;
    margin: 0 1.5em 1.5em 1.5em;
    background-color: black;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    font-family: 'Open Sans', sans-serif;
    font-weight: Bold;
    font-size: 1em;

}


.partner:hover {
    background-color: #333333;
}


.heroimage img {
    width: 100%;
    height: 19em;
    object-fit: cover;
}

@media (min-width: 1000px) {
    .heroimage img {
        width: 100%;
        height: 50em;
        object-fit: cover;
    }

    .slider {
        padding-left: 1em;
        height: 8.5em;
        position: absolute;
        width: 77%;
        left: 12em;
        top: 8em;
        background-color: white;
    }

    .slider div {
        min-width: 9em;
    }

    .slider button {
        width: 5em;
    }

    .slider img {
        width: 24px;
    }

    .eersteblok {
        position: absolute;
        padding-left: 2em;
        height: 29em;
        width: 37%;
        left: 12em;
        top: 16.5em;
        background-color: white;
    }

    .eersteblok h1 {
        color: black;
        margin: 0;
        padding: .75em 1em .5em .5em;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        font-size: 3em;
        font-weight: 600;

    }

    .eersteblok p {
        padding-right: 2em;
    }


    section {
        padding: 0 0 1em 0;
    }
}


.heroimage-about {
    position: relative;
    margin: 0;
    padding: 0;
}



.heroimage-about h1 {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    margin: 0;
}

.heroimage-about img {
    width: 100%;
    height: 30em;
    object-fit: cover;
}

@media (min-width: 1000px) {
    .heroimage-about img {
        width: 100%;
        height: 44em;
    }

    .heroimage-about h1 {
        z-index: 1;
        color: white;
        font-size: 3em;
        padding-left: 4em;
        padding-top: 12em;
    }

    .uber-kansen {
        width: 70%;
        padding-bottom: 3em;
    }

    .uber-kansen h2 {
        width: 75%;
        padding-top: 2em;
    }

    .uber-kansen p {
        padding-left: 12em;
    }
}

.stadimage img {
    width: 100%;
    height: 14em;
    object-fit: cover;
}

@media (min-width: 1000px) {
    .stadimage img {
        width: 100%;
        height: 32em;
        object-fit: cover;
    }

    .stadimage a {
        margin-left: 12em;
        position: absolute;
        padding-bottom: 4px;
    }

    .stadimage h2 {
        width: 20em;
        font-size: 2em;
        padding-top: 1em;
        padding-left: 6em;
    }


    .uber-business {
        display: flex;
        justify-content: space-between;
        padding: 1em 10em 1em 10em;
        flex-grow: 1;
    }

    .uber-business p {
        padding-left: 1.5em;
    }

    .uber-business article {
        width: 33%;
    }

    .uber-kracht p {
        padding-left: 12em;
    }

    h2 {
        padding: 1em 0 1em 7em;
    }
}

.uber-business img {
    margin: 0;
    padding: 1.5em;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;

}

.uber-about img {
    margin: 0;
    padding: 1.5em;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;

}

.uber-safe img {
    margin: 0;
    padding: 1.5em;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;

}

@media (min-width: 1000px) {
    .uber-about {
        display: flex;
        justify-content: space-between;
        padding: 3em 10em 1em 10em;
    }

    .uber-about p {
        padding-left: 1.5em;
    }

    .uber-about article {
        width: 50%;
    }

    .uber-about h2 {
        padding-left: .75em;
    }

    .uber-safe {
        display: flex;
        justify-content: space-between;
        padding: 3em 10em 1em 10em;
    }

    .uber-safe p {
        padding-left: 1.5em;
    }

    .uber-safe article {
        width: 50%;
    }

    .uber-safe h2 {
        padding-left: .75em;
    }

    .uber-safe article:nth-of-type(1) {
        order: 2;
    }

    .uber-nieuws {
        font-size: 2em;
        padding-left: 5.8em;
    }
}



.veiligheid img {
    margin: 0;
    padding: 1.5em;
    width: 100%;
    align-items: center;
    text-align: center;

}

@media (min-width: 1000px) {
    .veiligheid {
        display: flex;
        justify-content: space-between;
        padding: 5em 12em 5em 12em;
    }

    .veiligheid article {
        width: 50%;
    }

    .veiligheid h2 {
        padding-left: 0;
        max-width: 10em;
    }

    .veiligheid p {
        padding-left: 0;
    }

    .veiligheid a.meerinfo {
        margin: 0;
        padding-left: 0;
        line-height: 2em;
    }


    .veiligheid article:nth-of-type(1) {
        order: 2;
    }
}



p {
    margin: 0;
    padding-left: 1.5em;
    padding-bottom: 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1em;
    font-weight: 300;
    color: black;
    text-decoration: none;
}


.dara-ceo {
    position: relative;
    margin: 0;
    padding: 0;
}


.dara-ceo h1 {
    position: absolute;
    color: white;
    margin: 0;
    padding: 3em 0 0 .75em;
}

.dara-ceo img {
    width: 100%;
    height: 30em;
    object-fit: cover;
}

.dara-ceo p {
    width: 90%;
    left: 0;
    top: 13em;
    position: absolute;
    color: white;
}

.dara-ceo button {
    color: black;
    position: absolute;
    left: 0;
    top: 19em;
    padding: .9em 1.8em;
    margin: 0 0 1.5em 1.5em;
    background-color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    font-family: 'Open Sans', sans-serif;
    font-weight: Bold;
    font-size: 1em;
}

@media (min-width: 1000px) {
    .dara-ceo h1 {
        width: 40%;
        padding-top: 4em;
        padding-left: 4em;
        color: white;
        font-size: 3em;
    }

    .dara-ceo p {
        padding-left: 12em;
        width: 45%;
        top: 23em;
        font-weight: 500;
    }

    .dara-ceo button {
        margin-left: 12em;
        top: 28em;
    }

    .dara-ceo img {
        height: 45em;
    }
}

.prefooter-row {
    padding-bottom: 5em;
}

.prefooter-row h2 {
    padding-bottom: 2em;
}

.prefooter-row img {
    width: 24px;
    margin: 1.5em;
}


@media (min-width: 1000px) {
    .prefooter-row {
        padding-right: 10em;
        padding-left: 10em;
    }

    .prefooter-row {
        display: flex;
        justify-content: space-between;
    }
}

footer {
    background-color: black;
}

.footer-logo {
    margin: 0;
    padding: 3em 0 2em 1em;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1px;
    color: white;

}

footer p {
    margin: 0em;
    padding: 0 0 2em 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1em;
    font-weight: 300;
    max-width: 90%;
    color: white;
}

footer h3 {
    margin: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    max-width: 90%;
}


footer a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
}

.footer-column {
    padding-top: 3em;
}

footer li {
    padding-top: .5em;
    padding-bottom: .5em;
}


footer section img {
    width: 16px;
    margin: 1em;
}

footer section p {
    margin: 1em 0 0 0;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    font-weight: 600;
}


.social-media {
    padding: 2em 0 3em 1em;
}

.social-media article:nth-of-type(2) {
    display: flex;
}

.social-media article:nth-of-type(2) p {
    padding: 0;
    width: 25%;
}


@media (min-width: 1000px) {
    footer {
        padding-right: 4em;
        padding-left: 6em;
        padding-bottom: 2em;
    }

    .footer-row {
        display: flex;
        justify-content: space-between;
    }

    footer h3 {
        padding-bottom: 1em;
    }

    .social-media article:nth-of-type(2) {
        padding-top: 2em;
    }

    .social-media article:nth-of-type(2) p {
        width: 10%;
    }
}

.bottom-page {
    color: #afafaf;
    font-family: 'Open Sans', sans-serif;
    font-size: .75em;
    font-weight: 400;
}
